<div #elemento></div>
<app-nav-bar></app-nav-bar>
<app-carousel></app-carousel>
<div class="container-fluid ">

    <div class="row">
        <div class="col-2">
        </div>
        <div class="col-8">
            <br>
            <div class="card row " *ngIf="content==0">
                <div class="card-header">
                    <h4>¿Qué son los videojuegos?</h4>
                </div>
                <div class="col-12">
                    <p>
                        “Jugar con videojuegos implica poner en marcha muchas de nuestras capacidades y habilidades,
                        necesitamos concentración, atención, control, y mucha, pero mucha emoción.”. (Gil, A. Vida, T.
                        2007:33­34).
                    </p>
                    <p>
                        En este momento los videojuegos son la batiente de acceso de niños y jóvenes en las TIC.
                        Mediante el videojuego los niños adquieren capacidades y desarrollan habilidades diversas, las
                        más importantes de las cuáles son la interacción con las nuevas tecnologías,
                        su apego y su hábitat. Por esta inteligencia el videojuego es en estos momentos un constituyente
                        contundente para socializarse en la sociedad de las nuevas tecnologías.
                    </p>
                    <p>
                        Es de suma importancia resaltar el complejo incontrovertible de que los videojuegos están cerca
                        del umbral de la sociedad de las tecnologías de la información y la comunicación. Es por esto
                        por lo que se intenta imaginar un relato de los videojuegos,
                        una historia compartida en primera persona por nosotros mismos. Por esta razón realizamos el
                        concepto de impacto para marcar una nueva metáfora más adecuada para este relato de los
                        videojuegos, definido por Gil y Vida (2007): “La
                        idea del ‘impacto’ de los medios de comunicación y de las TIC, es una metáfora básica del
                        imaginario social contemporáneo, que usamos frecuentemente para pensar nuestra vida social”.
                        (Gil, A. Vida, T. 2007:38).
                    </p>
                    <p>
                        La impresión que los videojuegos han tenido en el mundo en los últimos treinta perduraron, es un
                        fenómeno que asimismo no ha sido científico en rebajamiento por los investigadores sociales.
                        Ante todo la obstrucción generada por la inducción de que las
                        tecnologías “impactan” sobre las personas y sobre el mundo. Nosotros ponemos en sospecha esta
                        fascinación pasiva del tipo “impactado” por otra activa, la “lectura” de nuestra circunstancia.
                        Nos convertimos en buscadores de significados
                        que interpretamos en nuestra circunstancia y que somos capaces de “reescribir” al provocar el
                        resultado de esta lectura a nuestra vida cotidiana. Una independencia del disertador componente
                        para conllevar el videojuego, es decir,
                        hacer una versión distinta a la esperada. Un lugar común de este proceso de símbolo de “gracia”
                        a “lectura” en nuestro mundo lo podemos localizar en un vendaval.
                    </p>
                    <p>
                        Hay que pensar también en los videojuegos como herramientas de relación y no de corte. es decir,
                        al chasis de noviazgo, de diálogos y emociones que se pueden dar a través de estas prácticas de
                        juego, tanto en el ámbito hogareño como en otros.
                    </p>
                    <p>
                        Jugamos a los videojuegos en espacios que pueden ser públicos o privados, en casa o incluso en
                        nuestro tiempo libre del trabajo, y, sobre todo, varias tipologías de lugares y distintas
                        modalidades de videojuegos. Agregar estos espacios para los jugadores,
                        conociendo estos espacios como lugares para la socialización del conocimiento entre ellos y sede
                        donde sobrevenir la extensión de mencionar las emociones reales en un contexto virtual.
                    </p>
                    <p>
                        Los videojuegos pueden ser considerados como una novedosa forma de expresión artística en las
                        últimas décadas, sin embargo, así como ocurre con los recuerdos artísticos contemporáneos, el
                        mundo también no es experto en asimilarlas y “hacerlas suyas”.
                        El jugar videojuegos es un prodigio incomprensible para muchos; la comunidad parece casi inhábil
                        de darle un significado, como en la destreza contemporánea, que a su vez no se encuentra en la
                        réplica remota del aparato para analizar
                        y vertebrar una estimación, simplemente se limitan a describir cómo está compuesta el acto. Esto
                        es lo que ocurre con los videojuegos, la colectividad de los aparatos de comunicación se limita
                        a especular el punto de vista gráfico,
                        o la familiarización en videojuego de algún rodaje de Hollywood, de la misma forma como se hace
                        en un informe de rodaje. A pesar de que los videojuegos, como la destreza coetánea, no pueden
                        llegar en estos tipos tradicionales.
                        Los videojuegos son un equipo de todas estas “artes”; existe el prisma expresivo, una
                        habladuría, una gracia, y primeramente, el aspecto lúdico y de jugabilidad. Por esta sensatez,
                        al preguntar para qué sirve divertirse al jugar
                        videojuegos, la respuesta es invariablemente la misma: para nada. Esto es adecuado a que incluso
                        no se ha encontrado un instrumento adecuado para categorizar, puntualizar, articular y advertir
                        este flamante arte. Esto podría deberse
                        a que el videojuego es un artículo típicamente posmoderno, algo tremendamente caprichoso y
                        objetivo a la vez, impersonal y colectivo en la misma asamblea.
                    </p>
                    <p>
                        El jugar crea lo inexistente, como por ejemplo, el sentido mismo del arte contemporáneo, crear
                        algo que no existe: “El juego es simbólico, permite la aparición de nuevos significados y
                        resignifica los ya existentes. En los videojuegos nacen nuevos monstruos
                        y nuevos héroes e incluso sus relaciones pueden ser novedosas” (Gil, A. Vida, T. 2007:10).
                    </p>
                    <p>
                        Un juego electrónico es un juego electrónico en el que una o más personas interactúan con un
                        dispositivo que muestra imágenes de video a través de un controlador. 1 Este dispositivo
                        electrónico generalmente se denomina "plataforma" y puede ser una computadora,
                        sala de juegos, consola de juegos o dispositivo portátil, como un teléfono móvil, un teléfono
                        inteligente o una tableta. Los videojuegos se han convertido en una de las principales fuentes
                        del arte y el entretenimiento año tras
                        año. Los dispositivos de entrada que se utilizan para manipular los videojuegos se denominan
                        controladores o controladores de videojuegos, y variarán según la plataforma. Por ejemplo, un
                        controlador solo puede constar de un botón
                        y un joystick, mientras que otro controlador puede tener doce botones y uno o más joysticks
                        (perillas). Los primeros juegos de computadora usaban un teclado para interactuar o requerían
                        que los usuarios compraran un joystick con
                        al menos un botón. 2 Muchos juegos de computadora modernos permiten o requieren que los usuarios
                        usen el teclado y el mouse al mismo tiempo. Los controladores más típicos son gamepad, joystick,
                        teclado, mouse y pantalla táctil.
                    </p>
                    <p>
                        Los videojuegos suelen utilizar otros métodos además de las imágenes para proporcionar a los
                        jugadores interactividad e información. Al utilizar equipos de reproducción de sonido, como
                        altavoces y auriculares, el audio es casi universal. Otro tipo de
                        retroalimentación es a través de periféricos hápticos que generan vibración o retroalimentación
                        de fuerza, a veces usando vibraciones para simular retroalimentación de fuerza.
                    </p>
                    <p>
                        Plataforma: esta es una experiencia que gira en torno a desafíos físicos. Los jugadores deben
                        proporcionar un alto grado de precisión para avanzar a través de estructuras complejas,
                        generalmente enfrentándose a diferentes enemigos. El juego de plataformas
                        sobresaliente es "Super Mario Bros.", que fue desarrollado y publicado por Nintendo en 1985, fue
                        diseñado, dirigido y producido por Shigeru Miyamoto, líder en el mundo de los videojuegos.
                    </p>
                    <p>
                        Los orígenes del videojuego se remontan a la década de 1950 cuando, poco después de la aparición
                        de los primeros ordenadores electrónicos tras el final de la Segunda Guerra Mundial, se hicieron
                        los primeros intentos de implementar programas lúdicos. Entonces
                        se desarrollaron el Nim (1951) o el Oxo (1952), juegos electrónicos, pero en realidad no son
                        videojuegos, ¡y el Tennis for Two (1958) o el Spacewar! (1962), verdaderos pioneros del género.
                        Todos eran todavía prototipos, juegos
                        muy sencillos y experimentales que, entre otras cosas, nunca se comercializaron porque
                        funcionaban en máquinas que solo estaban disponibles en universidades o institutos de
                        investigación.
                    </p>
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-5">
                            <div class="card ">
                                <img src="../../assets/img/platforms.jpg" class="card-img-top border-dark " alt="...">
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="card">
                                <img src="../../assets/img/stadia.png" class="card-img-top border-dark" alt="...">
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1"><a (click)="scroll(elemento)" (click)="changeContent(1)"
                            class="btn btn-success">Características</a></div>
                    <div class="col-1"></div>
                </div>
                <br>
            </div>

            <div class="card row " *ngIf="content==1">
                <div class="card-header">
                    <h4>Características de los videojuegos</h4>
                </div>
                <div class="col-12">
                    <p>
                        Los videojuegos poseen ciertas características como los son: la interactividad, la inmersión, el
                        entretenimiento, la jugabilidad y la simulación en algunos casos más amplios como también lo son
                        en la inmersión, ya que con la llegada de la realidad virtual
                        se ira mejorando todas las características haciendo que sea mucho más. El uso de estas
                        plataformas con sus características se pueda presentar en todo el mundo, como los son: (las
                        computadoras, videoconsolas, televisión, teléfonos,
                        etc…).
                    </p>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div class="card border-dark">
                                <img src="../../assets/img/ventajas.jpg" class="card-img-top border-dark" alt="...">
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>
                    <h4>
                        Ventajas
                    </h4>
                    <ol>
                        <li>Entrenamiento y mejora de habilidades físicas y mentales.</li>
                        <li>Tiene utilidades terapéuticas.</li>
                        <li>Uso como medio didáctico.</li>
                        <li>Desarrolla empatía.</li>
                        <li>Fomenta el trabajo en equipo.</li>
                    </ol>

                    <p>
                        Algunos ejemplos de uso, pueden ser para una estimulación de la creatividad, mejora de un idioma
                        y mejorar la capacidad de respuesta hacia un problema que se plantea, en algunos casos las
                        plataformas de videojuegos ayudan a pacientes con quemaduras a
                        olvidar temporalmente sus dolores. En el caso de las plataformas que son con realidad virtual
                        pueden plantear un escenario en el cual ayuda a superar miedo o fobias en determinados casos.
                    </p>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div class="card border-dark">
                                <img src="../../assets/img/img6.jpg" class="card-img-top border-dark" alt="...">
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1"><a (click)="scroll(elemento)" (click)="changeContent(2)"
                            class="btn btn-success">Impacto</a></div>
                    <div class="col-1"></div>
                </div>
                <br>
            </div>

            <div id="impact" class="card row" *ngIf="content==2">
                <div class="card-header">
                    <h4>
                        Los videojuegos y su impacto social
                    </h4>
                </div>
                <div class="col-12">
                    <p>
                        Los video juegos han crecido de una manera descomunal con el avance de los años y ahora son una
                        cultura que hasta se considera deporte electrónico, pero también surge la pregunte de ¿Cuál es
                        su impacto en la sociedad?
                    </p>

                    <p>
                        La primera impresión de las personas fue que eran dañinos y provocaban conductas y aptitudes
                        violentas y un desorden en las personas.
                    </p>
                    <p>
                        Lo consideraban dañino por el rechazo a la realidad, la idea de que algunas personas quisieran
                        reemplazar en mundo real con uno falso de videojuegos es temerosa ya que con el tiempo pueden
                        lograrlo. El hecho de pensar que una persona puede reemplazar
                        su vida a la manera que él le plazca, ese siempre ha sido un atractivo para las masas, hay
                        personas que se han hecho adictas a ciertos tipos de viejos juegos debido a eso, los sims online
                        o algún MMORPG son ideas que invaden a
                        jugador queriendo este vivir una vida así. Mas que todo se debe a que algunos cuentan con muy
                        baja autoestima y problemas psicológicos, se puede tomar de ejemplo para la adicción cierto
                        libro llamado Ready Player One que también
                        cuenta con una película como la persona se sumergen en el mundo virtual.
                    </p>
                    <p>
                        La adicción hacia los juegos puede ser tal que crea una serie de problemas como el sedentarismo
                        y la falta de actividad física esto trae muchos riesgos más por detrás ya que también ha habido
                        caso de jugadores fallecidos debido a paros cardíacos u otros
                        males al seguir jugando durante muchas horas seguidas.
                    </p>
                    <p>
                        También la incentivación de la violencia es un gran problema ya que a veces lo menores no son
                        supervisados y los videojuegos hoy en día son muy explícitos con respecto a la violencia, la
                        misoginia y la xenofobia.
                    </p>

                    <p>
                        La segunda fue que eran beneficiosa para el ayudo de enseñanza escolar y de la vida.
                    </p>

                    <p>
                        El manejo de elecciones en ciertos videojuegos te lleva por múltiples caminos en la historia del
                        o los personajes del juego sin tener vuelta atrás, esto da cierta comparación con la vida real
                        asimilando que todo los que hagas trae consecuencias o beneficios.
                    </p>
                    <p>
                        También muchos juegos se basan en hechos históricos lo cual lleva al jugador a conocer sobre la
                        historia antigua o de otras culturas, dándole un auto aprendizaje sobre hechos reales de la
                        historia.
                    </p>
                    <p>
                        Los videojuegos con el tiempo te hacen desarrollar tu habilidad motriz visual y habilidad para
                        los acertijos, así ejercitan su habilidad mental y en algunos casos su habilidad matemática al
                        descifrar algoritmos de movimiento, se puede añadir como ejemplo
                        juegos como The Witness, Binary Land y Silent Hill.
                    </p>
                    <p>
                        Otra de las cualidades en la inclusión de los grupos vulnerables, así como hay juego que incitan
                        a la violencia también hay unos que ayudan a las personas a ser mas inclusivos con las demás
                        personas, juegos como en caso de The Last of Us ll, League of
                        Legends u Overwatch ya que hay personajes añadidos que son homosexuales que se identifican con
                        los jugadores, en un caso especial se encuentra el juego Moss que su protagonista es un
                        sordomudo y se comunica a través de lengua de
                        señas y así los jugadores con este problema pueden jugar sin problemas alguno identificándose
                        con el personaje.
                    </p>
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6">
                            <div class="card border-dark">
                                <img src="../../assets/img/childs.jpg" class="card-img-top border-dark" alt="...">
                            </div>
                        </div>
                        <div class="col-3"></div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1"><a (click)="scroll(elemento)" (click)="changeContent(3)"
                            class="btn btn-success">Bibliografía</a></div>
                    <div class="col-1"></div>
                </div>
                <br>
            </div>

            <div id="bibliography" class="card row " *ngIf="content==3">
                <div class="card-header">
                    <h4>
                        Bibliografía
                    </h4>
                </div>
                <div class="col-12">
                    <p>
                        Belli, Simone, López Raventós, Cristian (2008). Breve historia de los videojuegos. Athenea
                        Digital. Revista de Pensamiento e Investigación Social, (14),159-179.[fecha de Consulta 17 de
                        Febrero de 2021]. ISSN: 1578-8946. Disponible en:
                        <a
                            href="https://www.redalyc.org/articulo.oa?id=537/53701409">https://www.redalyc.org/articulo.oa?id=537/53701409</a>
                    </p>

                    <p>
                        Consultores, I. S. (2018, 6 diciembre). Los videojuegos y su impacto social. Impacto Social
                        Consultores. <a
                            href="http://www.impactosocialconsultores.com/blog/2018/12/5/los-videojuegos-y-su-impacto-social">http://www.impactosocialconsultores.com/blog/2018/12/5/los-videojuegos-y-su-impacto-social</a>
                    </p>

                    <p>
                        Isidro Ros(2014) Quince beneficios que aportan los videojuegos, 1pnet. <a
                            href="https://www.muycomputer.com/2014/09/30/beneficios-los-videojuegos/">www.muycomputer.com/2014/09/30/beneficios-los-videojuegos/</a>
                    </p>

                    <p>
                        Yamil Lambert, Wellington Villota(2013) Difusión de los géneros, características, plataformas,
                        herramientas de desarrollo que se usan en la industria de los video-juegos, Revista tecnológica
                        ESPOL.
                        <a
                            href="http://www.rte.espol.edu.ec/index.php/tecnologica/article/download/279/198/798#:~:text=Adem%C3%A1s%20estos%20poseen%20ciertas%20caracter%C3%ADsticas,tel%C3%A9fono%20m%C3%B3vil%2C%20etc">http://www.rte.espol.edu.ec/index.php/tecnologica/article/download/279/198/798#:~:text=Adem%C3%A1s%20estos%20poseen%20ciertas%20caracter%C3%ADsticas,tel%C3%A9fono%20m%C3%B3vil%2C%20etc</a>
                        ).
                    </p>

                </div>
                <br>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-1"><a (click)="scroll(elemento)" (click)="changeContent(4)"
                            class="btn btn-success">Estudiantes</a></div>
                    <div class="col-1"></div>
                </div>
                <br>
            </div>

            <div id="student" class="card row " *ngIf="content==4">
                <div class="card-header">
                    <h4>
                        Estudiantes
                    </h4>
                </div>
                <div class="col-12">
                    <br>
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Apellido</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Geison Haru</td>
                                <td>Espinoza Barrantes</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Víctor Manuel</td>
                                <td>Gómez Vargas</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Carlos Stewart</td>
                                <td>Madrigal Peña</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Christian</td>
                                <td>Monge Cruz</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Sebastian</td>
                                <td>Villafuerte Garcia</td>
                            </tr>
                        </tbody>
                    </table>


                    <br>
                    <div class="row">
                        <div class="col-10"></div>
                        <div class="col-1"><a (click)="scroll(elemento)" (click)="changeContent(0)"
                                class="btn btn-success">Inicio</a></div>
                        <div class="col-1"></div>
                    </div>


                </div>
                <br>
            </div>
        </div>
        <div class="col-2">

        </div>
    </div>
    <br>
</div>